[submodule "projects"]
	path = projects
	url = https://github.com/planeonline/projects.git
	branch = master
[submodule "vagrant"]
	path = vagrant
	url = https://github.com/planeonline/vagrant.git
	branch = master
